automation/n8n-workflows/TG-91-abandoned-quote-sms.json
{
  "name": "TG-91-abandoned-quote-sms",
  "nodes": [
    { "parameters": { "rule": { "interval": [ { "triggerAtHour": 15, "triggerAtMinute": 0 } ] } }, "id": "tg91-trigger", "name": "Daily 10 AM CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 0] },
    { "parameters": { "method": "GET", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?followup_status=is.null&created_at=lt.{{ $now.minus(48, 'hours').toISO() }}&created_at=gt.{{ $now.minus(14, 'days').toISO() }}&select=id,customer_name,customer_phone,customer_email,service,amount", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer sb_secret_QlNjUO_5qHPcZRbdoCqZ3w_w72F3OQ3" } ] } }, "id": "tg91-query", "name": "Find Abandoned Quotes", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 0] },
    { "parameters": { "jsCode": "const results = $input.first().json;\nif (!Array.isArray(results) || results.length === 0) {\n  return [{ json: { has_results: false, count: 0 } }];\n}\nreturn results.map(r => ({ json: { ...r, has_results: true } }));" }, "id": "tg91-split", "name": "Split Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 0] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "has-results", "leftValue": "={{ $json.has_results }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg91-if-any", "name": "Any Abandoned?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [660, 0] },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/rpc/can_send_sms", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer sb_secret_QlNjUO_5qHPcZRbdoCqZ3w_w72F3OQ3" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"p_phone\": \"{{ $json.customer_phone }}\"}" }, "id": "tg91-consent", "name": "Check SMS Consent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, -100] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "cc", "leftValue": "={{ $json }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg91-if-consent", "name": "Has Consent?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1100, -100] },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/sms_sends", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer sb_secret_QlNjUO_5qHPcZRbdoCqZ3w_w72F3OQ3" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"phone\": \"{{ $('Split Results').item.json.customer_phone }}\",\n  \"workflow_name\": \"TG-91-abandoned-quote\",\n  \"message_body\": \"Hi {{ $('Split Results').item.json.customer_name || 'there' }}! We noticed you haven't had a chance to review your TotalGuard {{ $('Split Results').item.json.service || '' }} estimate. Still interested? Reply YES or call 608-535-6057. - TotalGuard\",\n  \"status\": \"pending\"\n}" }, "id": "tg91-log", "name": "Log SMS Send", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1320, -200], "continueOnFail": true },
    { "parameters": { "from": "+16089953554", "to": "={{ $('Split Results').item.json.customer_phone }}", "message": "=Hi {{ $('Split Results').item.json.customer_name || 'there' }}! We noticed you haven't had a chance to review your TotalGuard {{ $('Split Results').item.json.service || '' }} estimate. Still interested? Reply YES or call 608-535-6057. - TotalGuard" }, "id": "tg91-sms", "name": "Send Nudge SMS", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [1540, -200], "credentials": { "twilioApi": { "id": "PLACEHOLDER_TWILIO_ID", "name": "Twilio (not yet configured)" } }, "continueOnFail": true },
    { "parameters": { "method": "PATCH", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?id=eq.{{ $('Split Results').item.json.id }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer sb_secret_QlNjUO_5qHPcZRbdoCqZ3w_w72F3OQ3" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"followup_status\": \"abandoned_nudge_sent\"}" }, "id": "tg91-update", "name": "Mark Nudge Sent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1760, -200], "continueOnFail": true }
  ],
  "connections": {
    "Daily 10 AM CT": { "main": [[{ "node": "Find Abandoned Quotes", "type": "main", "index": 0 }]] },
    "Find Abandoned Quotes": { "main": [[{ "node": "Split Results", "type": "main", "index": 0 }]] },
    "Split Results": { "main": [[{ "node": "Any Abandoned?", "type": "main", "index": 0 }]] },
    "Any Abandoned?": { "main": [ [{ "node": "Check SMS Consent", "type": "main", "index": 0 }], [] ] },
    "Check SMS Consent": { "main": [[{ "node": "Has Consent?", "type": "main", "index": 0 }]] },
    "Has Consent?": { "main": [ [{ "node": "Log SMS Send", "type": "main", "index": 0 }], [] ] },
    "Log SMS Send": { "main": [[{ "node": "Send Nudge SMS", "type": "main", "index": 0 }]] },
    "Send Nudge SMS": { "main": [[{ "node": "Mark Nudge Sent", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
